:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  --white: #FFFFFF;
  --grey: #918E9B;
  --peach: #F55A5A;
  --darkBlue: #2B283A;
}


body {
  margin: 0;
  background-color: var(--white);
  text-align: center;
}

@media (min-width: 700px) {
  body {
    text-align: left;
  }
}